<h4 class="title-heading">지도자 수정하기</h4>
<div class="container" id="register-container">
    <div class="d-flex flex-column align-items-center">
        <form #leaderform="ngForm">
            <h4 class="BasicInfo-section-heading">1. 일반 현황(2023년 01월 01일 기준)<span class="required-field">* 필수입력값 항목입니다.</span><hr class="section-hr"></h4>
            <div class="container custom-container">
                <div class="row">
                    <div class="col-sm-3 left-content">
                        <div id="image-container">
                            <label for="file-input" id="image-placeholder">
                                <img [src]="leaderInfo.imageBase" id="ImageBase-data"  />
                                <div id="upload-button">사진 첨부하기</div>
                            </label>
                            <!--프론트 단에서만 필요-->
                            <input type="file" id="file-input" accept="image/*" (change)="onFileChange($event)" value="">
                            <!--컨트롤러로 보낼 데이터-->
                            <input type="hidden" id="hidden-input" name="ImageBase" value="">
                            <img id="selected-image" alt="">
                            <p>파일 크기는 MB 이하로 등록해주세요.</p>
                        </div>
                    </div>
                    <div class="col-sm-9 right-content">
                        <div class="row custom-row">
                            <div class="col-6 col-sm-6">
                                <h6 id="code-heading" class="custom-heading">
                                    식별코드<span class="highlight-text">*</span>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="식별코드를 선택해주세요." name="LeaderNo" [(ngModel)]="leaderInfo.leaderNo" [ngModelOptions]="{standalone: true}">
                                        <button class="btn btn-outline-secondary" type="button" id="button-Leader" (click)="openLeaderSearchModal()">식별코드검색</button>
                                    </div>
                                </h6>
                            </div>
                            <div class="col-6 col-sm-6">
                                <h6 id="school-heading" class="custom-heading">
                                    학교명<span class="highlight-text">*</span>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="schoolcode-heading" placeholder="학교명을 선택해주세요." [(ngModel)]="leaderInfo.schoolName" [ngModelOptions]="{standalone: true}">
                                        <input type="hidden" id="hidden-SchoolName" name="SchoolNo" />
                                        <button class="btn btn-outline-secondary" type="button" id="button-addon-School" (click)="openSchoolSearchModal()">학교명검색</button>
                                    </div>
                                </h6>
                            </div>
                        </div>
                        <div class="row custom-row">
                            <div class="col-4 col-sm-4">
                                <h6 id="name-heading" class="custom-heading">
                                    성명<span class="highlight-text">*</span>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="form-control name-input" placeholder="이름을 입력하세요." name="LeaderName" [(ngModel)]="leaderInfo.leaderName" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </h6>
                            </div>
                            <div class="col-4 col-sm-4">
                                <h6 id="dob-heading" class="custom-heading">
                                    생년월일<span class="highlight-text">*</span>
                                    <div class="mb-3">
                                        <input type="date" class="form-control" id="birthdate" data-placeholder="생년월일을 입력해주세요." name="birthday"  [(ngModel)]="leaderInfo.birthday"  [ngModelOptions]="{standalone: true}">
                                    </div>
                                </h6>
                            </div>
                            <div class="col-4 col-sm-4">
                                <h6 id="gender-heading" class="custom-heading">
                                    성별<span class="highlight-text">*</span>
                                    <div class="gender-checkboxes">
                                        <label>
                                            <input type="radio" name="Gender" value="M" checked [(ngModel)]="leaderInfo.gender">
                                            남자
                                        </label>
                                        <label>
                                            <input type="radio" name="Gender" value="W" [(ngModel)]="leaderInfo.gender">
                                            여자
                                        </label>
                                    </div>
                                </h6>
                            </div>
                        </div>
                        <div class="row custom-row">
                            <div class="col-4 col-sm-4">
                                <h6 id="sport-heading" class="custom-heading">
                                    종목<span class="highlight-text">*</span>
                                    <div class="sport-select">
                                        <select class="form-select" id="sport-select-register-container" [(ngModel)]="leaderInfo.sportNo" name="sportName">
                                            <option value="">종목을 선택해주세요.</option>
                                            <option *ngFor="let Sport of leaderInfo.sports" [value]="Sport.sportNo">{{ Sport.sportName }}</option>
                                        </select>
                                    </div>
                                </h6>
                            </div>
                            <div class="col-4 col-sm-4">
                                <h6 id="phone-heading" class="custom-heading">근무지 전화번호<span class="highlight-text">*</span>
                                <div class="d-inline-flex" id="tel-heading">
                                    <input type="tel" size="3" name="tel1" class="form-control custom-input" placeholder="063" maxlength="3" checked [(ngModel)]="leaderInfo.tel1">
                                    <span class="dash">-</span>
                                    <input type="tel" size="4" name="tel2" class="form-control custom-input" placeholder="1234" maxlength="4" checked [(ngModel)]="leaderInfo.tel2">
                                    <span class="dash">-</span>
                                    <input type="tel" size="4" name="tel3" class="form-control custom-input" placeholder="5678" maxlength="4" checked [(ngModel)]="leaderInfo.tel3">
                                    <input type="hidden" name="TelNo" id="hidden-tel">
                                </div>
                                </h6>
                            </div>
                            <div class="col-4 col-sm-4">
                                <h6 id="hire-date-heading" class="custom-heading">
                                    최초채용<span class="highlight-text">*</span>
                                    <div class="mb-3">
                                        <input type="date" class="form-control" id="hire" data-placeholder="최초채용일을 선택해주세요." name="EmpDT" [(ngModel)]="leaderInfo.empDT">
                                        <p>최초 채용일은 <span class="highlight-text">전라북도 교육청 소속 최초 채용일을</span> 선택해주세요.</p>
                                    </div>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="History-section-heading">
                2. 근무 이력(전라북도교육청 소속 - 최초 채용일로부터)<span class="required-field">필수입력값 항목입니다.</span><hr class="section-hr">
                <p>※ 현재 근무 중인 경우 근무 종료일을 입력하지 마십시오.</p>
                <table id="Employment-History-Table">
                    <tr>
                        <th>근무기관</th>
                        <th>근무시작일</th>
                        <th>근무종료일</th>
                        <th>종목</th>
                    </tr>
                    <tr *ngFor="let work of leaderInfo.work; let i = index" class="Employment-History-Tr">
                        <td>
                            <input type="text" class="school-name" placeholder="학교명을 입력해주세요." [(ngModel)]="work.workPlace" [name]="'Work[' + i + '].WorkPlace'" />
                        </td>
                        <td>
                            <input type="date" class="form-control" [(ngModel)]="work.startDT" [name]="'Work[' + i + '].StartDT'" />
                        </td>
                        <td>
                            <input type="date" class="form-control" [(ngModel)]="work.endDT" [name]="'Work[' + i + '].EndDT'" />
                        </td>
                        <td id="sport-table">
                            <select class="form-select" aria-label="종목을 선택해주세요." id="sport-select-container" [(ngModel)]="work.sportNo" [name]="'Work[' + i + '].SportNo'">
                                <option value="">종목을 선택해주세요.</option>
                                <option *ngFor="let Sport of leaderInfo.sports" [value]="Sport.sportNo">{{ Sport.sportName }}</option>
                            </select>
                          <button *ngIf="i === 0" (click)="addHistoryRow()">추가</button>
                          <button *ngIf="i >= 1" (click)="deleteHistoryRow(i)">삭제</button>
                        </td>
                    </tr>
                </table>
            </h4>
            <h4 class="Certificate-section-heading">
                3. 자격사항<span class="required-field">필수입력값 항목입니다.</span><hr class="section-hr">
                <table id="Certificate-Table">
                    <tr>
                        <th>자격/면허</th>
                        <th>자격번호</th>
                        <th>취득일자</th>
                        <th>발급기관</th>
                    </tr>
                    <tr *ngFor="let certificate of leaderInfo.certificate; let i = index" class="Certificate-Table-Tr">
                        <td><input type="text" class="qualification" [(ngModel)]="certificate.certificateName" [name]="'Certificate[' + i + '].CertificateName'" placeholder="자격을 입력해주세요."></td>
                        <td><input type="text" class="qualification-number" [(ngModel)]="certificate.certificateNumber" [name]="'Certificate[' + i + '].CertificateNumber'" placeholder="영문, 숫자만 입력해주세요."></td>
                        <td>
                            <input type="date" class="form-control" id="get-date" [(ngModel)]="certificate.certificateDT" [name]="'Certificate[' + i + '].CertificateDT'" data-placeholder="취득일자를 선택해주세요.">
                        </td>
                        <td>
                            <input type="text" class="origanization-name" placeholder="발급기관을 입력해주세요." [(ngModel)]="certificate.origanization" [name]="'Certificate[' + i + '].Origanization'">
                            <button class="button Certificate-add" *ngIf="i === 0" (click)="addCertificateRow()">추가</button>
                            <button *ngIf="i >= 1" (click)="deleteCertificateRow(i)">삭제</button>
                        </td>
                    </tr>
                </table>
            </h4>
            <div class="button-box">
                <div class="button delete" (click)="openEditCancelModal()">취소하기</div>
                <div id="register" class="button register" name="submit" (click)="openEditSuccessModal()">저장하기</div>
            </div>
        </form>
    </div>
</div>