<div id="content">
    <h4>지도자 관리</h4>
    <div class="container" id="search-container">
        <h6>검색 조회</h6>
        <div class="search-box">
            <div class="select">
                <div class="selected" (click)="toggleOptions()">
                    <div class="selected-value">{{ selectedOption }}</div>
                    <div class="arrow"></div>
                </div>
                <ul *ngIf="showOptions">
                    <li class="option" (click)="selectOption('전체')">전체</li>
                    <li class="option" (click)="selectOption('이름')">이름</li>
                    <li class="option" (click)="selectOption('종목')">종목</li>
                </ul>
            </div>
            <div class="input-box">
                <input type="text" placeholder="이름을 입력해주세요." id="searchInput">
            </div>
            <div class="button-box">
                <div class="search-button">검색하기</div>
            </div>
        </div>
    </div>
    <div class="container" id="Leader-list-container">
        <div class="row row-cols-1">
            <div class="content-header">
                <h5>
                    전체 지도자 목록
                    <p id="totalleader">총</p>
                </h5>
                <div class="button-box">
                    <div class="button register">
                        <a routerLink="/register">
                            지도자 등록하기
                        </a>
                    </div>
                    <div class="button delete" (click)="openStartDeleteModal()">삭제하기</div>
                </div>
            </div>
            <div class="leaderTable">
                <table>
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="selectAll" />번호</th>
                            <th>식별코드</th>
                            <th>이름</th>
                            <th>종목</th>
                            <th>소속학교</th>
                            <th>이력 정보 상세</th>
                        </tr>
                    </thead>
                    <tbody class="leaderTable_body"></tbody>
                    <tr *ngFor="let leaders of leaderDTO; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ leaders.leaderNo }}</td>
                        <td>{{ leaders.leaderName }}</td>
                        <td>{{ leaders.sportName }}</td>
                        <td>{{ leaders.schoolName }}</td>
                    </tr>
                </table>
            </div>
            <div class="col">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous" id="PreviousPageLink">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <div id="page">
                        </div>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next" id="NextPageLink">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>