#sidebar {
    background-color: #ffffff;
    padding: 10px;
    width: 200px;
}

#sidebar .nav-link {
    margin-left: 10px;
    width: 161px;
    height: 56px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #203883;
    border-radius: 5px;
    color: #203883;
    background-color: #ffffff;
    font-weight: bold;
    box-shadow: 2px 3px 5px rgba(37, 37, 37, 0.1);
    text-decoration-line: none;
}

#sidebar .nav-link i {
    color: #203883;
    margin-right: 10px;
    margin-left: 9px;
}