/* 컨텐츠 박스 1-1 */
.title-heading {
    margin-left: 60px;
    margin-top: 40px;
    font-weight: bold;
}

#register-container {
    margin-top: 60px;
    margin-left: 60px;
    margin-bottom: 156px;
    width: 1300px;
    height: 1200px;
    border: 2px solid #EEEEEE;
    background-color: #ffffff;
    border-radius: 0.5em;
    display: flex;
    color: #212529;
}

#register-container .BasicInfo-section-heading {
    font-weight: bold;
    margin-top: 43px;
    margin-left: 40px;
}

#register-container .BasicInfo-section-heading .required-field {
    color: red;
    font-weight: bold;
    margin-left: 650px;
    font-size: 13px;
}

#register-container .section-hr {
    width: 1200px;
    border: 2px solid #238AF7;
    margin-right: 39px;
}

/* ------------------------------------------ */

.custom-container {
    padding-right: 25px;
    padding-top: 25px;
}

.custom-row {
    margin-bottom: 25px;
}

/* ------------------------------------------ */

#register-container #image-container {
    position: relative;
    width: 300px;
    height: 300px;
}

#register-container #image-placeholder {
    margin-top: 5px;
    margin-left: 35px;
    width: 243px;
    height: 315px;
    background-color: #ccc;
    top: 0;
    left: 10;
    cursor: pointer;
    border-radius: 0.5em;
    background-color: #F2F4F5;
    border: 2px solid #dad9d9;
}

#register-container #upload-button {
    margin-top: 242px;
    margin-left: 17px;
    width: 203px;
    height: 47px;
    padding-top: 10px;
    padding-left: 50px;
    background-color: white;
    color: #0F2D6A;
    cursor: pointer;
    border: 2px solid #0F2D6A;
    border-radius: 0.5em;
}

#register-container #selected-image {
    left: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 35px;
    width: 243px;
    height: 315px;
    border-radius: 0.5em;
}

#register-container #image-container p {
    color: #DD4B39;
    font-size: 12px;
    margin-top: 3px;
    margin-left: 35px;
    font-weight: bold;
}

#register-container #file-input {
    display: none;
}

input[type="date"]::before {
    content: attr(placeholder);
    width: 100%;
    color: #757575;
}

/* ------------------------------------------ */

#register-container .btn {
    background-color: #238AF7;
    color: white;
    font-size: 15px;
}

#register-container #code-heading {
    font-size: 15px;
    font-weight: bold;
}

#register-container #code-heading input {
    pointer-events: none;
}

#register-container #code-heading .input-group {
    height: 43px;
    width: 435px;
    margin-top: 10px;
}

#register-container #code-heading input.form-control {
    font-size: 15px;
    border-color: #DDDDDD;
}

#register-container #code-heading input::placeholder {
    font-size: 15px;
    color: #969696;
}

/* ------------------------------------------ */

#register-container #school-heading {
    font-size: 15px;
    font-weight: bold;
}

#register-container #school-heading input {
    pointer-events: none;
}

#register-container #school-heading .input-group {
    height: 43px;
    width: 435px;
    margin-top: 10px;
}

#register-container #school-heading input.form-control {
    font-size: 15px;
    border-color: #DDDDDD;
}

#register-container #school-heading input::placeholder {
    font-size: 15px;
    color: #969696;
}

/* ------------------------------------------ */

#register-container #name-heading {
    font-size: 15px;
    font-weight: bold;
}

#register-container #name-heading input {
    pointer-events: none;
}

#register-container #name-heading .mb-3 {
    margin-top: 10px;
    height: 43px;
    width: 281px;
}

#register-container #name-heading input::placeholder {
    color: #969696;
    font-size: 15px;
}

/* ------------------------------------------ */

#register-container #dob-heading {
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;
}

#register-container #dob-heading .mb-3 {
    height: 43px;
    width: 281px;
    margin-top: 10px;
}

input[type="date"]::before {
    content: attr(data-placeholder);
    width: 100%;
}

input[type="date"]:valid::before {
    display: none;
}

input[data-placeholder]::before {
    color: #969696;
    font-size: 15px;
}

.Birthday-error {
    color: #DD4B39;
    font-size: 12px;
    margin-top: 10px;
}

/* ------------------------------------------ */

#register-container #gender-heading {
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
}

#register-container #gender-heading .gender-checkboxes {
    margin-top: 17px;
    margin-left: 5px;
}

#register-container #gender-heading input[type="radio"] {
    width: 19px;
    height: 19px;
    vertical-align: middle;
    margin-right: 5px;
}

#register-container #gender-heading .gender-checkboxes label {
    margin-right: 20px;
}

/* ------------------------------------------ */

#register-container #sport-heading {
    font-size: 15px;
    font-weight: bold;
}

#register-container select {
    font-size: 15px;
    color: #969696;
    height: 43px;
    width: 281px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 10px 0;
    border: 1px solid #e4e4e4;
    border-radius: 0.5em;
}

#sport-select-register-container option {
    color: #333;
}

/* ------------------------------------------ */

#phone-heading {
    font-size: 15px;
    font-weight: bold;
    margin-left: 18px;
}

.d-inline-flex .dash {
    margin: 0 8px;
    color: #2C2C2C;
    font-weight: normal;
    font-size: 15px;
    vertical-align: middle;
    margin-top: 10px;
}

.d-inline-flex {
    margin-top: 10px;
}

input[name="tel1"].custom-input {
    width: 69px;
    height: 43px;
}

input[name="tel2"].custom-input {
    width: 83px;
    height: 43px;
}

input[name="tel3"].custom-input {
    width: 83px;
    height: 43px;
}

.Tel-error{
    color: #DD4B39;
    font-size: 12px;
    margin-top: 10px;
}

/* ------------------------------------------ */

#register-container #hire-date-heading {
    margin-left: 19px;
    font-size: 15px;
    font-weight: bold;
}

#hire-date-heading .mb-3 {
    margin-top: 10px;
    width: 255px;
    height: 43px;
}

#register-container #hire-date-heading p {
    margin-top: 7.5px;
    color: #2C2C2C;
    font-size: 11px;
}

.highlight-text {
    color: #DD4B39;
}

/* 컨텐츠 박스 1-2 */
#register-container .History-section-heading {
    font-weight: bold;
    margin-top: 43px;
    margin-left: 40px;
}

#register-container .History-section-heading .required-field {
    color: red;
    font-weight: bold;
    margin-left: 460px;
    font-size: 13px;
}

#register-container .History-section-heading p {
    margin-top: 19px;
    color: #0F2D6A;
    font-size: 15.5px;
    font-weight: bold;
}

/* 테이블 전체 스타일 */
#register-container .History-section-heading table,
#register-container .Certificate-section-heading table {
    width: 97%;
    margin-top: 10px;
}

#register-container .History-section-heading th,
#register-container .Certificate-section-heading th {
    border-top: 2px solid #EEEEEE;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #EEEEEE;
    font-size: 15.5px;
    font-weight: bold;
    padding: 14px;
    text-align: center;
}

/* 행 스타일 */
#register-container .History-section-heading tr,
#register-container .Certificate-section-heading tr {
    border-bottom: 1px solid #ddd;
}

/* 셀 스타일 */
#register-container .History-section-heading td {
    padding: 8px;
    text-align: center;
}

#register-container .Certificate-section-heading td {
    text-align: center;
    padding: 10px;
}

/* 입력 필드 스타일 */
#register-container .History-section-heading input[type="text"], input[type="date"],
#register-container .Certificate-section-heading input[type="text"], input[type="date"] {
    width: 263px;
    height: 43px;
    font-size: 15px;
    border: 1px solid #EEEEEE;
    border-radius: 0.5em;
}

#register-container .History-section-heading input::placeholder {
    font-size: 15px;
    color: #969696;
    padding-left: 5px;
}

#register-container .Certificate-section-heading input::placeholder {
    font-size: 15px;
    color: #969696;
    padding-left: 5px;
}

/* 셀렉트 박스 스타일 */
#register-container #sport-select-container {
    border: 1px solid #e7e7e7;
    border-radius: 0.5em;
    font-size: 15px;
    width: 264px;
    height: 43px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #969696;
}

#sport-select-container option {
    color: #333;
}

#sport-table {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* 버튼 스타일 */
#register-container .History-section-heading button,
#register-container .Certificate-section-heading button {
    width: 56px;
    height: 44px;
    font-size: 15px;
    font-weight: bold;
    background-color: #238AF7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.2em;
}

#register-container .History-section-heading button.History-delete,
#register-container .Certificate-section-heading button.Certificate-delete {
    background-color: #969696;
}

#register-container .Certificate-section-heading button.Certificate-add {
    margin-left: 8px;
}

#register-container .Certificate-section-heading button.Certificate-delete {
    margin-left: 8px;
}

.startDT-error{
    color: #DD4B39;
    font-size: 12px;
    margin-top: 10px;
}

.endDT-error{
    color: #DD4B39;
    font-size: 12px;
    margin-top: 10px;
}

.certificateDT-error{
    color: #DD4B39;
    font-size: 12px;
    margin-top: 10px;
}

/* ------------------------------------------------- */

/* 컨텐츠 박스 1-3 */
#register-container .Certificate-section-heading {
    font-weight: bold;
    margin-top: 43px;
    margin-left: 40px;
}

#register-container .Certificate-section-heading .required-field {
    color: red;
    font-weight: bold;
    margin-left: 936px;
    font-size: 13px;
}

.button-box {
    margin-left: 500px;
    margin-top: 70px;
    display: flex;
    align-items: center;
}

.button {
    width: 139px;
    height: 55px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0.5em;
}

.button.delete {
    color: #0F2D6A;
    border: 1px solid #0F2D6A;
    margin-right: 8.5px;
    background-color: white;
}

.button.register {
    background-color: #0F2D6A;
    color: white;
}
