<h4 class="title-heading">지도자 등록하기</h4>
<div class="container" id="register-container">
    <div class="d-flex flex-column align-items-center">
        <form #leaderform="ngForm">
            <h4 class="BasicInfo-section-heading">1. 일반 현황(2023년 01월 01일 기준)<span class="required-field">* 필수입력값 항목입니다.</span><hr class="section-hr"></h4>
            <div class="container custom-container">
                <div class="row">
                    <div class="col-sm-3 left-content">
                        <div id="image-container">
                            <label for="file-input" id="image-placeholder" *ngIf="!selectedImageUrl">
                                <div id="upload-button">사진 첨부하기</div>
                            </label>
                            <input type="file" id="file-input" (change)="onFileSelected($event)">
                            <img id="selected-image" *ngIf="selectedImageUrl" [src]="selectedImageUrl" alt="">
                            <p>파일 크기는 MB 이하로 등록해주세요.</p>
                        </div>
                    </div>
                    <div class="col-sm-9 right-content">
                        <div class="row custom-row">
                            <div class="col-6 col-sm-6">
                                <h6 id="code-heading" class="custom-heading">
                                    식별코드<span class="highlight-text">*</span>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" [(ngModel)]="leaderInfoDTO.LeaderNo" [ngModelOptions]="{standalone: true}" [placeholder]="leaderNoValue ? leaderNoValue : '식별코드를 선택해주세요.'">
                                        <button class="btn btn-outline-secondary" type="button" id="button-Leader" (click)="openLeaderSearchModal()">식별코드검색</button>
                                    </div>
                                </h6>
                            </div>
                            <div class="col-6 col-sm-6">
                                <h6 id="school-heading" class="custom-heading">
                                    학교명<span class="highlight-text">*</span>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="schoolcode-heading" [placeholder]="schoolNameValue ? schoolNameValue : '학교명을 선택해주세요.'" aria-describedby="button-addon-School">
                                        <input type="hidden" id="hidden-SchoolName" [(ngModel)]="leaderInfoDTO.SchoolNo" [ngModelOptions]="{standalone: true}">
                                        <button class="btn btn-outline-secondary" type="button" id="button-addon-School" (click)="openSchoolSearchModal()">학교명검색</button>
                                    </div>
                                </h6>
                            </div>
                        </div>
                        <div class="row custom-row">
                            <div class="col-4 col-sm-4">
                                <h6 id="name-heading" class="custom-heading">
                                    성명<span class="highlight-text">*</span>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="form-control name-input" 
                                            [(ngModel)]="leaderInfoDTO.LeaderName" [ngModelOptions]="{standalone: true}" 
                                            [placeholder]="leaderNameValue ? leaderNameValue : '이름을 입력하세요.'">
                                    </div>
                                </h6>
                            </div>
                            <div class="col-4 col-sm-4">
                                <h6 id="dob-heading" class="custom-heading">
                                    생년월일<span class="highlight-text">*</span>
                                    <div class="mb-3">
                                        <input type="date" class="form-control" [(ngModel)]="leaderInfoDTO.Birthday" [ngModelOptions]="{standalone: true}" data-placeholder="생년월일을 입력해주세요." name="Birthday">
                                    </div>
                                </h6>
                            </div>
                            <div class="col-4 col-sm-4">
                                <h6 id="gender-heading" class="custom-heading">
                                    성별<span class="highlight-text">*</span>
                                    <div class="gender-checkboxes">
                                        <label>
                                            <input type="radio" [(ngModel)]="leaderInfoDTO.Gender" [ngModelOptions]="{standalone: true}" value="M" checked>
                                            남자
                                        </label>
                                        <label>
                                            <input type="radio" [(ngModel)]="leaderInfoDTO.Gender" [ngModelOptions]="{standalone: true}" value="W">
                                            여자
                                        </label>
                                    </div>
                                </h6>
                            </div>
                        </div>
                        <div class="row custom-row">
                            <div class="col-4 col-sm-4">
                                <h6 id="sport-heading" class="custom-heading">
                                    종목<span class="highlight-text">*</span>
                                    <div class="sport-select">
                                        <select class="form-select" aria-label="종목을 선택해주세요." id="sport-select-register-container" [(ngModel)]="leaderInfoDTO.SportNo" [ngModelOptions]="{standalone: true}">
                                            <option value="">종목을 선택해주세요.</option>
                                            <option *ngFor="let Sport of leaderDetailDTO.sports" [value]="Sport.sportNo">{{ Sport.sportName }}</option>
                                        </select>
                                    </div>
                                </h6>
                            </div>
                            <div class="col-4 col-sm-4">
                                <h6 id="phone-heading" class="custom-heading">
                                  근무지 전화번호<span class="highlight-text">*</span>
                                  <div class="d-inline-flex" id="tel-heading">
                                    <input type="tel" size="3" name="tel1" [(ngModel)]="tel1" class="form-control custom-input" placeholder="063" maxlength="3" (input)="calculateTelNo()">
                                    <span class="dash">-</span>
                                    <input type="tel" size="4" name="tel2" [(ngModel)]="tel2" class="form-control custom-input" placeholder="1234" maxlength="4" (input)="calculateTelNo()">
                                    <span class="dash">-</span>
                                    <input type="tel" size="4" name="tel3" [(ngModel)]="tel3" class="form-control custom-input" placeholder="5678" maxlength="4" (input)="calculateTelNo()">
                                    <input type="hidden" id="hidden-tel" name="hiddenTel" [(ngModel)]="leaderInfoDTO.TelNo">
                                  </div>
                                </h6>
                            </div>
                              
                            <div class="col-4 col-sm-4">
                                <h6 id="hire-date-heading" class="custom-heading">
                                    최초채용<span class="highlight-text">*</span>
                                    <div class="mb-3">
                                        <input type="date" class="form-control" id="hire" [(ngModel)]="leaderInfoDTO.EmpDT" [ngModelOptions]="{standalone: true}" data-placeholder="최초채용일을 선택해주세요.">
                                        <p>최초 채용일은 <span class="highlight-text">전라북도 교육청 소속 최초 채용일을</span> 선택해주세요.</p>
                                    </div>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="History-section-heading">
                2. 근무 이력(전라북도교육청 소속 - 최초 채용일로부터)<span class="required-field">필수입력값 항목입니다.</span><hr class="section-hr">
                <p>※ 현재 근무 중인 경우 근무 종료일을 입력하지 마십시오.</p>
                <table id="Employment-History-Table">
                    <tr>
                        <th>근무기관</th>
                        <th>근무시작일</th>
                        <th>근무종료일</th>
                        <th>종목</th>
                    </tr>
                    <tr *ngFor="let work of leaderInfoDTO.Work; let i = index" class="Employment-History-Tr">
                        <td><input type="text" class="school-name" placeholder="학교명을 입력해주세요." [(ngModel)]="work.WorkPlace" [name]="'Work[' + i + '].WorkPlace'"></td>
                        <td><input type="date" class="form-control" id="start-date" [(ngModel)]="work.StartDT" [name]="'Work[' + i + '].StartDT'"></td>
                        <td><input type="date" class="form-control" id="end-date" [(ngModel)]="work.EndDT" [name]="'Work[' + i + '].EndDT'"></td>
                        <td id="sport-table">
                          <select class="form-select" aria-label="종목을 선택해주세요." id="sport-select-container" [(ngModel)]="work.SportNo" [name]="'Work[' + i + '].SportNo'">
                            <option value="">종목을 선택해주세요.</option>
                            <option *ngFor="let Sport of leaderDetailDTO.sports" [value]="Sport.sportNo">{{ Sport.sportName }}</option>
                          </select>
                          <button *ngIf="i === 0" (click)="addHistoryRow()">추가</button>
                          <button *ngIf="i >= 1" (click)="deleteHistoryRow(i)">삭제</button>
                        </td>
                    </tr>
                </table>
            </h4>
            <h4 class="Certificate-section-heading">
                3. 자격사항<span class="required-field">필수입력값 항목입니다.</span><hr class="section-hr">
                <table id="Certificate-Table">
                    <tr>
                        <th>자격/면허</th>
                        <th>자격번호</th>
                        <th>취득일자</th>
                        <th>발급기관</th>
                    </tr>
                    <tr *ngFor="let certificate of leaderInfoDTO.Certificate; let i = index" class="Certificate-Table-Tr">
                        <td><input type="text" class="qualification" [(ngModel)]="certificate.CertificateName" [name]="'Certificate[' + i + '].CertificateName'" placeholder="자격을 입력해주세요."></td>
                        <td><input type="text" class="qualification-number" [(ngModel)]="certificate.CertificateNumber" [name]="'Certificate[' + i + '].CertificateNumber'" placeholder="영문, 숫자만 입력해주세요."></td>
                        <td>
                            <input type="date" class="form-control" id="get-date" [(ngModel)]="certificate.CertificateDT" [name]="'Certificate[' + i + '].CertificateDT'" data-placeholder="취득일자를 선택해주세요.">
                        </td>
                        <td>
                            <input type="text" class="origanization-name" placeholder="발급기관을 입력해주세요." [(ngModel)]="certificate.Origanization" [name]="'Certificate[' + i + '].Origanization'">
                            <button class="button Certificate-add" *ngIf="i === 0" (click)="addCertificateRow()">추가</button>
                            <button *ngIf="i >= 1" (click)="deleteCertificateRow(i)">삭제</button>
                        </td>
                    </tr>
                </table>
            </h4>
            <div class="button-box">
                <button class="button delete" (click)="openRegisterCancelModal()">취소하기</button>
                <button type="button" id="register" class="button register" name="submit" (click)="openRegisterSuccessModal()">등록하기</button>
            </div>
        </form>
    </div>
</div>